.sideNav {
  color: white;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideNavDetails {
  padding: 10px;
}
.semiBold200 {
  font-weight: 200;
}
.semiBold400 {
  font-weight: 400;
}
.verticalSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width320 {
  max-width: 320px;
}

.fieldWidth320 {
  width: 320px;
}
